@use './variables' as *;


/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: $fg-primary;

@import "bootstrap/scss/variables";

// adding custom colors
$custom-colors: (
    // custom color
    "fg-body": $fg-dark,

);
// Merge the maps of colors
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

.layoutContainer {
    min-height: 100dvh;
    min-width: 100%;
}

header {
    img {
        max-height: 60px;
    }

    .header-bg {
        background-image: url('/images/jumbotron.jpg');
        min-height: 350px;
        background-size: cover;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $fg-primary;
    }

    &.active {
        color: $fg-primary;
    }
}

ul {
    list-style: none;
}

main {
    flex-grow: 1;
    height: 100%;
    width: 100% !important;
    position: relative;
}

.comicsHeader {
    transform: translate(10%, -50%);
}

.thumb{
    object-fit: cover;
}
